.containerL{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxC{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    background-color: #313338;
    width: 700px;
    padding: 32px;
}
.LabelL{
    font-family: cursive;
    margin: 0px 0px 8px;
    font-size:12px ;
    padding: 2px;
    color: #b5bac1;
    font-weight: 300;
}
.headingL{
    color: #f2f3f5;
    font-family: cursive;
    font-size: 24px;
}
.subheadingL{
    color: #b5bac1;
    font-size: 16px;
    font-family: cursive;
}
.cardL{
    height: 100%;
    width: 60%;
}
.cardHeaderL{
    display: flex;
    align-items: center;
    margin-top: -2%;
    flex-direction: column;
}
.cardBodyL{
    margin:20px 0px 0px
}
.subheadingL{
    margin-top: -4%;
}
.formL{
    margin-top: -3%;
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 2rem;
}
.inputL{
    margin-top: 2%;
    padding: 10px;
    color: aliceblue;
    background-color: #1e1f22;
    width: 90%;
}
.buttonL{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 44px;
    background-color: #5865f2;
    color: #f2f3f5;
    padding: 2px 8px;
    margin: 0px 0px 8px;
    width: 95.7%;
}
.registerL{
    color: #b5bac1;
}
.linkL{
    color: #00a8fc;
    text-decoration: none;
    font-family: cursive;
    letter-spacing: 0.5px;
}
.imgL{
    width: 45%;
}
.authButton {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 95.7%;
    background-color: #5865f2;
    color: #f2f3f5;
    margin-bottom: 10px;
    cursor: pointer;
}
.authButton img{
    border:2px solid #00a8fc;
    background-color: white;
    height: 33px;
    width: 35px;
    padding: 2px;
    border-radius: 2px;
    margin-right: 50px;
    margin-bottom: 2.6px;
    margin-left: -20%; 
}
.boxL{
    animation-name: SlideIn;
    animation-duration: 1s;
    animation-timing-function: ease;
}
.imgL{
    animation-name: img;
    animation-duration: 1s;
    animation-timing-function: ease;
}
@keyframes img{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes SlideIn{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}